#burger {
  border:10px inset orange;
  padding: 10px;
  margin: 10px;
}
h1 {
  text-align: center;
  color: #ff9100;
}
p {
  text-align: center;
}
 #big {
    
  }

#brasil {
  
}

#lancho {

}

#bacon {
  
}

#mush {
  
}
#tex {
  
}
#bbq {
  
}
#viggie {
  
}
#hawaii {
  
}
#class {
  
}
#fast {
  
}
#jala {
  
}
#turf {
  
}
